*{
    box-sizing: border-box;
    margin: 0;
}

header {
    position: relative;
    background-color: #343a40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32px;
}
header h4 {
    color: whitesmoke;
    cursor: pointer;
}

main h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
main img{
    width: 400px;
    height: 533px;
}
footer {
    height: 60px;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: whitesmoke;
}
.src-list {
position: absolute;
list-style-type: none;
padding-left: 5px;
top: 30px;
right: 402px;
width: 177px;
border: 1px solid black;
}
.li {
    cursor: pointer;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.wraper {
    width: 1000px;
    margin: auto;
}
.upper {
    display: flex;
}
.info {
    margin-left: 50px;
}
.details {
    margin-top: 50px;
    margin-bottom: 20px;
}

.upper h3 {
    margin-top: 30px;
}